<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href='/assign.css', rel='stylesheet')
        script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=",crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Roboto|PT+Sans", rel="stylesheet")
        script(src='assign.js' type='text/javascript')
    body
        h1 Table
        div(class='roster')
            div(class='team teamA') Team A
                button(value='teamA') ADD
            div(class='team teamB') Team B
                button(value='teamB') ADD
            div(class='team teamC') Team C
                button(value='teamC') ADD
            div(class='team teamC') Team D
                button(value='teamd') ADD
        button(class='form-submit' type='button') GO