<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href='/assign.css', rel='stylesheet')
        script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=",crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Roboto|PT+Sans", rel="stylesheet")
        script(src='assign.js' type='text/javascript')
    body
        h1 Create Your Teams 
            button(class='form-submit' type='button') Finalize Teams
        div(class='roster')
            div(class='form-wrapper')
                div(class='team teamA') Team A
                    img(value='teamA', src='add.png')
                div(class='teamA-roster')
            div(class='form-wrapper')
                div(class='team teamB') Team B
                    img(value='teamB', src='add.png')
                div(class='teamB-roster')
            div(class='form-wrapper')
                div(class='team teamC') Team C
                    img(value='teamC', src='add.png')
                div(class='teamC-roster')
            div(class='form-wrapper')
                div(class='team teamD') Team D
                    img(value='teamAD', src='add.png')
                div(class='teamD-roster')