<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    link(href='code.css', rel='stylesheet')
    script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=",crossorigin="anonymous")
</head>
<body>
    <div class ='post-hero'>
        <div class='problem-wrapper'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quae esse iure inventore tenetur laborum repellendus ex mollitia deleniti quos fugit, hic numquam rem, laboriosam pariatur? Vel quasi, illum dignissimos nihil rem, possimus quisquam ratione temporibus veniam est ex. Consequatur repudiandae ad culpa sunt tempora omnis quo placeat fugit neque corrupti veniam nulla, nostrum consectetur, enim qui! Iste, sequi ea.
        </div>
        <div class='editor-wrapper'>
            <textarea id="code_submit" class='editor' name="code_submit"></textarea>
            <button id="submit"> Run </button>
        </div>

        <div class="output">

        </div>
    </div>



    script(src='/code.js').

</body>
</html>
