<h1>create an account</h1>

<form method="POST" action="/create-account" >
    <h3>username: </h3> <input name='username' type='text'><br>
    <h3>password: </h3> <input name='password' type='password'><br>
    <h3>email: </h3> <input name='email' type='email'>
    <input type='submit'>
</form>