<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=",crossorigin="anonymous")
        link(href='create_account.css', rel='stylesheet')
        script(src='create_account.js' type='text/javascript')
    body
        div(class='overlay')
            button(class='choices focus' value='teacher' type='button') I am a teacher
            button(class='choices' value='student' type='button') I am a student
                
