
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href='/dashboard.css', rel='stylesheet')
        script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=",crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Roboto|PT+Sans", rel="stylesheet")
        script(src='dashboard.js' type='text/javascript')
    body
        div(class='banner')
        
        div(class='content')
            div(class='user-details')
                h1
                    div(class='user-img')
                    | Hello, #{user.username}!
                h4    
                    | Role : #{user.role}

        
                if(user.role === 'teacher')
                    a(href = '/assign-group')
                        | Create Class
                else
                    a
                        | Chat Group
                a(type='button') 
                    img(src='network.png')
                    | Connect
                a(type='button') 
                    img(src='friends.png') 
                    | Friends
                a(type='button')
                    img(src='settings.png')
                    | Settings
                a(href='/logout')
                    img(src='logout.png')
                    | Log Out 

            div(class='team-scores')
                h1 Current Standings
                img(src='trophy.png')
                div(class='score team1'  value='{}') A
                div(class='score team2'  value='{}') B
                div(class='score team3'  value='{}') C
                div(class='score team4'  value='{}') D

        div(class='assignments')
            h1 Current Assignments
                if user.role == 'student'
                    each val in user.assignments
                        #{val}
                    
        
