<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    link(href='/home.css', rel='stylesheet')
</head>
<body>
    <div class='hero'>
        <div class='hero-overlay'>
            <h1> #{user}10 Codes To Griffindor!</h1>
            <p>
                
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis est dolore modi reiciendis ex quae vel eligendi praesentium illum! Explicabo possimus corporis adipisci! Iure optio pariatur ratione recusandae id soluta fugiat sit at, quod cupiditate, voluptatum, omnis reprehenderit eaque dolore non error in ipsum veniam nesciunt. Nobis sed odio quaerat.
            </p>
            <div class='cta'>
                <a class='login-btn'> Log In </a> 
                <a class='create-btn'> Create Account</a>
            </div>
        </div>
    </div>

    <div class ='post-hero'> 

    </div>
    
</body>
</html>