<h1>login page</h1>

<form method="POST" action="/login" >
    <h3>username: </h3> <input name='username' type='text'><br>
    <h3>password: </h3> <input name='password' type='password'><br>
    <input type='submit'>
</form>

