* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("c.jpeg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
    transition: background-image 0.5s linear;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
}

.choices {
    margin: 20px;
    width: 200px;
    height: 300px;
    border-radius: 15px;
    background-color: rgba(94, 141, 219);
    color: white;
    font-size: 25px;
    border: none;
    opacity: 0.5;;
}

.selectors{
    text-align: center;
}

.continue{
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border: none;
    background-color: rgba(20, 141, 219);
    color: white;
    font-size: 30px;
    border-radius: 10px;
}

.continue:hover{
    background-color:  rgb(20, 91, 186);
    cursor: pointer;
}

.choices:hover{
    cursor: pointer;
}

.choices.focus{
    background-color: rgb(33, 91, 186);
    opacity: 1;
}

.choices:focus{
    border: none;
    outline: none;
}