* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: PT sans;
    /* font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif */
}

.banner {
    width: 100vw;
    height: 300px;
    /* background-color:  rgb(33, 91, 186);;*/
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
}

.content {
    position: relative;
    width: 100vw;
    min-height: 200px;
    background-color: #e9ebee;
}

.team-scores{
    padding: 10px;
    position: absolute;
    transform: translateY(-250px);
    margin: 30px;
    width: 500px;
    height: 300px;
    right: 20px;
    border: 3px solid rgba(0,0,0,0.3);
    background-color: white;
    transition: height 0.5s linear;
    overflow: hidden;
}

.team-scores h1 {
    margin-left: 20px;
}

.team-scores img {
    z-index: -1;
    margin-left: 50px;
    position: absolute;
    top: 0;
    width: 100%;
}

.score{
    bottom: 0;
    display: inline-block;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
    background-color: green;
    height: 70%;
    position:  absolute;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1s linear, opacity 1s linear;
    max-height: 100%;
    padding: 5px;
    color: white;
}

.team1{
  left: 0;
  height: 40%;
  background-color: red
}

.team2{
    left: 25%;
    background-color: purple;
}

.team3{
    left: 50%;
    background-color: green;
}

.team4{
    left: 75%;
    background-color: blue;
}

.assignments {
    padding-top: 30px;
    width: 100vw;
    min-height: 300px;
    background-color: white;
    border-top: 1px solid rgba(0,0,0,0.3);
    text-align: left;
    
}
.assignments h1 {
    margin: 20px;
}

.user-details {
    margin: 30px;
    min-height: 200px;
    float: left;
    background-color: white;
    transform: translateY(-250px);
    box-shadow: 2px 2px rgba(100,100,100,0.5);
    padding: 5px;
    text-align: left;
    width: 400px;
}

.user-details .user-img{
    background-image: url('person.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: grey;
}

.user-details h1 {
    padding: 20px 30px 20px 30px;
    margin-bottom: 10px;
}

.user-details h1 img {
    display: inline-block;
    width: 25px;
}
.user-details h4 {
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: blue;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
}
.user-details a {
    padding-left: 30px;
    text-align: left;
    display: inline-block;
    border: none;
    background-color: white;
    width:100%;
    font-size: 16px;
    line-height: 50px;
    max-height: 50px;
    color: black;
    text-decoration: none;
}

.user-details a:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.user-details a img {
    height: 25px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

